.Navbar-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
}

.Navbar-header {
    gap: 2em;
    margin-right: 2em;
}

.Navbar-list a {
    color: inherit;
    text-decoration: none;
}

.Navbar-list a:hover {
    color: rgb(67, 15, 15);
    font-weight: bold;
}

.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.Footer .Navbar-list {
    gap: 1em;
}