.Home-banner {
    display: flex;
    padding: 12em 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 203, 203);
}

.Home-banner-text {
    text-align: center;
}

.Home-banner-text h1 {
    font-size: xxx-large;
    margin: 0;
}

.Home-banner-text h2 {
    font-weight: 200;
    font-size: x-large;
    margin: 0;
}

.Home-about {
    padding: 8em 12em;
    background-color: rgb(227, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.Home-about-text {
    flex: 2 0 70%;
}

.Home-about img {
    max-width: 40%;
    max-height: 40%;
}

.Home-fun-facts {
    padding: 3em 5em 5em;
}

.Home-info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.Home-card {
    border: medium solid gray;
    flex: 1 1 25%;
    padding: 2em;
}

.Home-card img {
    max-height: 70%;
    max-width: 70%;
    margin-left: 2em;
}